:8080 {
    encode zstd gzip

    request_body max_size 10MB

    handle /api/* {
        reverse_proxy backend:3001 {
            header_up Host {http.request.host}
            header_up X-Forwarded-Host {http.request.host}
            header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
            header_up X-Forwarded-Port {http.request.header.X-Forwarded-Port}
        }
    }

    handle {
        reverse_proxy client:3002 {
            header_up Host {http.request.host}
            header_up X-Forwarded-Host {http.request.host}
            header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
            header_up X-Forwarded-Port {http.request.header.X-Forwarded-Port}
        }
    }
}
