apiVersion: v1
kind: ConfigMap
metadata:
  name: savehub-config
  namespace: savehub
data:
  MAX_UPLOAD_BYTES: '53687091200'
  USER_QUOTA_BYTES: '214748364800'
  MAX_ACTIVE_UPLOADS: '2'
  UPLOAD_EXPIRY_DAYS: '7'
  WORKER_CONCURRENCY: '1'
  MAX_EXPANDED_BYTES: '107374182400'
  MAX_FILES: '100000'
  MAX_RATIO: '200'
  MAX_FILENAME_BYTES: '1024'
  PARSER_TIMEOUT_MS: '30000'
  PARSER_MEMORY_MB: '256'
  MAX_SCRATCH_BYTES: '128849018880'
  MAX_SCREENSHOT_BYTES: '20971520'
  MAX_SCREENSHOTS: '20'
