apiVersion: isindir.github.com/v1alpha3
kind: SopsSecret
metadata:
  name: savehub-env
  namespace: savehub
  annotations:
    argocd.argoproj.io/sync-wave: '-3'
spec:
  secretTemplates:
  - name: savehub-env
    stringData:
      DATABASE_URL: postgresql://savehub:REPLACE_PASSWORD@savehub-postgres:5432/savehub
      POSTGRES_PASSWORD: REPLACE_PASSWORD
      OIDC_CLIENT_SECRET: REPLACE_CLIENT_SECRET
      SESSION_KEY: REPLACE_64_HEX_RANDOM_BYTES
